.normal_label, .radio_label{
float: left;
width: 120px;
font-weight: bold;
}

.radio_list{
  float: left;
}

.radio_list_clear {
  clear: left;
}

input.text, textarea, select{
width: 180px;
margin-bottom: 5px;
}

textarea{
width: 250px;
height: 150px;
}

.boxes{
width: 1em;
}

#submitbutton{
margin-left: 120px;
margin-top: 5px;
width: 90px;
}

br{
clear: left;
}

.info {
  font-style: italic;
}